.Input {
    flex: 1;
}

.Label {

}

select{
    cursor: pointer;
    width: 80%;
    text-align: center;
    color:inherit;
    border-radius: 5px;
}

select:focus{
    outline: 0;
}

select option {
    text-align: center;    
}