.Quiz {    
    position: relative;    
    align-self: center;
    width: 80%;    
    display: flex; 
    justify-content: center;
    align-items: center;
}

.arrow {
    padding: 20px;
    flex: 1;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 5rem;
}