.Spinner {
    display: flex;
    width: 64px;
    height: 64px;
    margin: 36px auto;
  }
  .Spinner:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #125271;
    border-color: #125271 transparent #125271 transparent;
    animation: lds-dual-ring 1.2s linear infinite;    
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  