.Answer {
    display: inline-block;
    width: 50%;        
    /* border: 1px solid rgba(0,0,0,0.1); */
    padding: 15px;
    cursor: pointer;
}

.selected {
    background: #125271;
    color: white; 
}

.correct {
    background: green;
    color: white;
}

.incorrect {
    background: red;
    color: white;
}

.Answer:hover {
    background: #b3d8e9; 
}